.full_page_photo{
    height: 300px;
}

.datepicker-inline, .datepicker-inline table{width: 100%;}

.gradient-background{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+1,ffffff+100&0.2+0,0.56+19,0.9+48,1+75 */
    background: -moz-linear-gradient(top,  rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.22) 1%, rgba(255,255,255,0.56) 19%, rgba(255,255,255,0.9) 48%, rgba(255,255,255,1) 75%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.22) 1%,rgba(255,255,255,0.56) 19%,rgba(255,255,255,0.9) 48%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(255,255,255,0.2) 0%,rgba(255,255,255,0.22) 1%,rgba(255,255,255,0.56) 19%,rgba(255,255,255,0.9) 48%,rgba(255,255,255,1) 75%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.home-teaser .service_photo{
    position: relative;
}

.home-teaser .service_photo .section_header{
    bottom: 0;
    margin: 0;
    padding: 10px;
    position: absolute;
    width: 100%;
    border: none;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0;
    line-height: 32px;
    text-transform: none;
    word-spacing: 0;
}